<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>This is a project for the Database class and the team is made up of Agustin Castillo Munguia and Luis Esteban Acevedo Bringas</p>
    </div>
</section>