<div class="jumbotrom mt-4">
    <h1 class="display-4"> Ponit of sale with NodeJS and Oracle Database</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quibusdam et soluta debitis aut repellat optio ducimus neque? Asperiores veniam culpa quibusdam ullam aspernatur saepe nihil atque, deserunt molestias aliquid error, repellendus, cum quam eum ut assumenda doloremque. A necessitatibus iure, beatae eius et iste fuga laudantium debitis dolor hic?</p>
    <hr class="my-5">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quos, a quis nihil ab tempore?</p>
    <a href="https://www.oracle.com/mx/database/technologies/appdev/xe.html" class="btn btn-primary">Download Oracle Database</a>
</div>

